<h1>Flights</h1>

<%= render 'search_form', airports_options: @airports_options, departure_date_options: @departure_date_options %>

<% unless @available_flights.nil? %>
    <% if @available_flights.any? %>
        <%= render 'search_form_results', available_flights: @available_flights %>
    <% else %>
        <h2>No flights found<h2>
    <% end %>
<% end %>